$primary: hsla(209.2, 85.6%, 24.5%, 1);
$accent1: hsla(34, 100%, 49.8%, 1);
$accent2: hsla(210.3, 43.1%, 41.4%, 1);
$accent3: hsla(48.7, 100%, 64.5%, 1);
// $accent4: hsla(145.4, 63.2%, 49%, 1);
$darkerprimary: hsla(209.2, 85.6%, 14.5%, 1);

a:hover{cursor: pointer;}

.cls-1 {
    fill: #fff;
}