@import 'config';

.header {
    width: 100%;
    display: flex;
}
.menu {
    flex-grow:999;
    max-width: 30px;
    min-width: 15px;
    margin-right: 1vw;
    align-self: center;
    height:10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.menu__icon {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &:hover{
        cursor: pointer;
    }
}

.menu__line {
    width: 80%;
    border: 0.5vw solid $accent1;
    border-radius: 2px;
    margin: 0 auto;
}
.menu__first-line {
    margin-bottom: 0.75vw;
}
.menu__last-line {
    margin-top: 0.75vw;
}
.header__title-and-logo {
    display: flex;
}
.header__title {
    flex-shrink: 1;
    font-family: 'Abril Fatface', cursive;
    text-transform: uppercase;
    color: $primary;
    font-size: 10vw;
    margin: 0;
    white-space: nowrap;
}
.header__logo {
    flex-shrink: 1;
    margin-left: 1vw;
    background-image: url('/images/beard-map-logo.png');
    background-size: 100% 100%;
    align-self: center;
    width: 10vw;
    height: 10vw;
}
.saveButton {
    flex-grow: 1;
    height: 8vw;
    align-self: center;
    margin-left: 1vw;
    background-color: $accent3;
    font-family: 'Abril Fatface', cursive;
    font-size: 5vw;
}