@import 'config';
@import 'header';
@import 'saveprompt';
@import 'textboxes';

.cls-1, .bckgnd, .skin {
    fill: #fff;
  }



.loc {fill: rgba($primary, 0.2);}
.loc_active {fill: rgba($accent3, 0.25);}
.loc:active, .loc:focus, .loc:not(.loc_active):hover {fill: rgba($accent1, 0.25);}
.loc_inactive {fill: rgba($darkerprimary, 0.3);}
// ^must come after .loc
.loc_set:not(.loc_active) {fill: rgba($primary, 0.2);}

.locArrow_inactive {display: none}
.locArrow {fill:$accent3; stroke:$primary; stroke-width: 2; pointer-events: none;}
.locArrow_target {fill:red;}





.map__wrapper {padding: 0 2%; position: relative;}

// #locArrow {fill:$primary; transform: scale(12) translate(120px, 350px) rotate(0.25turn) ;}



.odd-shaped-location {stroke: blue; background-color: blue;}
.target {top: 50%; width: 50%; x: "500"}
.parent-SVG {width:300px;}
#canvas {border: 2px solid blue}



























.slidecontainer {
  width: 100%; /* Width of the outside container */
}
/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 2vw; /* Specified height */
  // MAX HEIGHT TO BE SET TO 2% OF APP'S MAX WIDTH
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}
/* Mouse-over effects */
.slider:hover {
  opacity: 0.99; /* Fully shown on mouse-over */
}
            // /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
            // .slider::-webkit-slider-thumb {
            //   -webkit-appearance: none; /* Override default look */
            //   appearance: none;
            //   width: 100px; /* Set a specific slider handle width */
            //   height: 100px; /* Slider handle height */
            //   background: url('../../razor-emoji.png'); /* Green background */
            //   background-size: cover;
            //   border: none;
            //   cursor: pointer; /* Cursor on hover */
            // }
            // .slider::-moz-range-thumb {
            //   width: 100px; /* Set a specific slider handle width */
            //   height: 100px; /* Slider handle height */
            //   background: url('../../razor-emoji.png'); /* Green background */
            //   background-size: cover;
            //   border: none;
            //   cursor: pointer; /* Cursor on hover */
            // }

          /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
          .slider::-webkit-slider-thumb {
            -webkit-appearance: none; /* Override default look */
            appearance: none;
            width: 15vw; /* Set a specific slider handle width */
            height: 15vw; /* Slider handle height */
            // MAX HEIGHT & WIDTH TO BE SET TO 2% OF APP'S MAX WIDTH
            background: url('/images/razor-emoji.png'); /* Green background */
            background-size: cover;
            border: none;
            cursor: pointer; /* Cursor on hover */
          }
          .slider::-moz-range-thumb {
            width: 15vw; /* Set a specific slider handle width */
            height: 15vw; /* Slider handle height */
            // MAX HEIGHT & WIDTH TO BE SET TO 2% OF APP'S MAX WIDTH
            background: url('/images/razor-emoji.png'); /* Green background */
            background-size: cover;
            border: none;
            cursor: pointer; /* Cursor on hover */
          }