.main-text {
    width: 75%;
}

.auth-text {position: absolute}


// .auth-text_inactive {display: none;}

.main-text_inactive {display: none;}

.save-text_inactive {display: none;}

















.testingButton {position: absolute}